{% extends "::layout_dashboard.php.twig" %}

{% block title %}
	Dashboard
{% endblock %}

{% block header %}
	<header class="intro-header" style="background-image: url({{asset('img/imgdhb.jpg')}}); margin-top: 60px; margin-bottom: 0px;">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<div class="page-heading">
						<h1>Dashboard</h1>
						<hr class="small">
						<!--span class="subheading">Have questions? I have answers (maybe).</span-->
					</div>
				</div>
			</div>
		</div>
	</header>
{% endblock %}

{% block aeplatform_body %}
<div class="col-lg-11 col-md-11">
	<div class="jumbotron">
		<p style="margin-left: 20px;" class="glyphicon"> Chiffre d'affaire actuel : {{ chiffreAffaire }}
			<span class="glyphicon glyphicon-euro"></span>
		</p>
	</div>
	<div class="jumbotron">
		<p style="margin-left: 20px;" class="glyphicon"> Montant impôsable : {{ montantImposable }}
			<span class="glyphicon glyphicon-euro"></span>
			<br> dont {{ montantCotisationsSoc }} <span class="glyphicon glyphicon-euro"></span>
			<br> dont {{ montantImpotFormationPro }} d'impôt sur la formation professionnelle<span class="glyphicon glyphicon-euro"></span>
			<br> et {{ montantImpotSurRevenu }} d'impôts sur le revenu <span class="glyphicon glyphicon-euro"></span>
		</p>
	</div>
</div>
{% endblock %}

{# INSTRUCTIONS POUR OLIVIER: SI DANS L'ENTITE Entreprise LA VALEUR DE liberatoire EST A 1,
LE MONTANT IMPOSABLE EST COTISATIONS SOC+IMPOT FORMATION PRO ET L'IMPOT SUR LE REVENU EST SEPARE, SINON, TOUT EST PAYE EN MEME TEMPS #}

{% block aeplatform_script %}
<script>
	$('.carousel').carousel({
		interval: 5000
	})
</script>
{% endblock %}

