{% extends '::layout_dashboard.php.twig' %}
{% form_theme delete_form '::Form/field.php.twig' %}


{% block header %}
    <div class="invisible" style="padding: 10px">
        <span>a</span>
    </div>
{% endblock %}

{% block aeplatform_body %}

    <div class="row col-lg-12 col-md-12 jumbotron">

        <table class="record_properties table table-responsive">
            <tbody>
            <tr>
                <th>Numéro de facture</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Contractuel</th>
            </tr>
            <tr>
                <th>Nom du contractuel</th>
                <td>{{ entity.contractuel.nomContractuel }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ entity.contractuel.adresseContractuel }}</td>
            </tr>
            <tr>
                <th>Code postal</th>
                <td>{{ entity.contractuel.codePostalContractuel }}</td>
            </tr>
            <tr>
                <th>Forme juridique</th>
                <td>{{ entity.contractuel.formeJuridiqueContractuel }}</td>
            </tr>
            <tr>
                <th>Produits</th>
            </tr>
            {% for produit in entity.factureProduit %}
            <tr>
                <th>Quantité</th>
                <td>{{ entity.factureProduit.quantite }}</td>
            </tr>
            <tr>
                <th>Designation</th>
                <td>{{ entity.factureProduit.produits.reference }}</td>
            </tr>
            <tr>
                <th>Code postal</th>
                <td>{{ entity.factureProduit.produits.designation }}</td>
            </tr>
            <tr>
                <th>Forme juridique</th>
                <td>{{ entity.factureProduit.produits.prixUnitaireHT }}</td>
            </tr>
            {% endfor %}
            <tr>
                <th>Prix total HT</th>
                <td>{{ entity.prixTotalHT }}</td>
            </tr>
            <tr>
                <th>Total HT</th>
                <td>{{ entity.recetteTotaleHT }}</td>
            </tr>
            </tbody>
        </table>

        <ul class="record_actions list-inline list-unstyled text-center">
            <li>
                <a class="btn btn-default" href="{{ path('factures') }}">
                    Back to the list
                </a>
            </li>
            <li>
                <a class="btn btn-default" href="{{ path('factures_edit', { 'id': entity.id }) }}">
                    Edit
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul>
    </div>
{% endblock %}

