{% extends '::layout_dashboard.php.twig' %}

{% block title %}
    <title>SmartCompta - Achats</title>
{% endblock %}

{% block header %}
    <div class="invisible" style="padding: 10px">
        <span>a</span>
    </div>
{% endblock %}

{% block aeplatform_body %}

    <div class="row col-lg-12 col-md-12 jumbotron">
        <ul class="pull-right" style="margin-bottom: 30px; margin-top: -20px;">
            <a class="btn btn-default page-scroll" href="#new">
                Nouvel Achat
            </a>
        </ul>
        <table class="records_list table table-responsive text-center">
            <thead>
                <tr>
                    {#<th>Id</th>#}
                    <th>Date</th>
                    <th>Montant</th>
                    <th>Fournisseur</th>
                    <th>Mode de paiement</th>
                    <th>Justificatif</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    {#<td><a href="{{ path('achats_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>#}
                    <td style="width: 140px;">{% if entity.date %}{{ entity.date|date('Y-m-d') }}{% endif %}</td>
                    <td style="width: 140px;">{{ entity.montant }} €</td>
                    <td style="width: 140px;">{{ entity.fournisseur }}</td>
                    <td style="width: 140px;">{{ entity.modeDePaiement }}</td>
                    <td><img class="img-responsive img-thumbnail" src="{{ asset('uploads/justificatifs/' ~ entity.justificatif) }}"/></td>
                    <td>
                    <ul>
                        <li>
                            <a href="{{ path('achats_show', { 'id': entity.id }) }}">Aperçu</a>
                        </li>
                        <li>
                            <a href="{{ path('achats_edit', { 'id': entity.id }) }}">Édition</a>
                        </li>
                    </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="row col-lg-12 col-md-12 jumbotron">
        <h3 id="new" style="margin-top: -10px; margin-bottom: 30px;">Créer un nouvel achat</h3>
        {#% include("AEComptaBundle:Achats:new.html.twig") %#}
        {% form_theme form '::Form/field.php.twig' %}

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block script %}
    {{ parent() }}
    <script src="{{ asset('bootstrap/js/jquery.easing.min.js') }}"></script>
    <script src="{{ asset('bootstrap/js/scrolling.js') }}"></script>
{% endblock %}