{% form_theme form '::Form/field.php.twig' %}

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

{#
{% block body -%}
    <h1>Achats creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('achats') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
#}