<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header page-scroll">
            <a style="margin-top: -50px;" class="navbar-brand" href="{{ path('page_d_accueil') }}">
                <img style="margin-top: 40px;" src="{{asset('img/new2_logo_nav.png')}}"/>
            </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" style="background-color: white;" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('page_d_accueil') }}" style="color: deepskyblue;">Accueil</a></li>
                <li><a class="page-scroll" href="#pourqui" style="color: deepskyblue;">Pour Qui ?</a></li>
                <li><a class="page-scroll" href="#webmobile" style="color: deepskyblue;">Web/Mobile</a></li>
                <li><a class="page-scroll" href="#benefice" style="color: deepskyblue;">Bénéfices</a></li>
                <li><a href="{{ path('fos_user_registration_register') }}" style="color: deepskyblue;">Inscription</a></li>
                <li><a href="{{ path('fos_user_security_login') }}" style="color: deepskyblue;">Connexion</a></li>
            </ul>
        </div>
    </div>
</nav>