{% extends '::layout_dashboard.php.twig' %}

{% block header %}
    <div class="invisible" style="padding: 10px">
        <span>a</span>
    </div>
{% endblock %}

{% block aeplatform_body %}

    <div class="row col-lg-12 col-md-12 jumbotron">
        <ul class="pull-right" style="margin-bottom: 30px; margin-top: -20px;">
            <a class="btn btn-default" href="{{ path('achats') }}">
                Create a new entry
            </a>
        </ul>
        <table class="records_list table table-responsive text-center">
            <thead>
                <tr>
                    {#<th>Id</th>#}
                    <th>Date</th>
                    <th>Montant</th>
                    <th>Fournisseur</th>
                    <th>Modedepaiement</th>
                    <th>Justificatif</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    {#<td><a href="{{ path('achats_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>#}
                    <td>{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ entity.montant }}</td>
                    <td>{{ entity.fournisseur }}</td>
                    <td>{{ entity.modeDePaiement }}</td>
                    <td>{{ entity.justificatif }}</td>
                    <td>
                    <ul>
                        <li>
                            <a href="{{ path('achats_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('achats_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="row col-lg-12 col-md-12 jumbotron">
        <h3 style="margin-top: -10px; margin-bottom: 30px;">Create a new entry</h3>
        {#% include("AEComptaBundle:Achats:new.html.twig") %#}
        {% form_theme form '::Form/field.php.twig' %}

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
