{% extends '::layout_dashboard.php.twig' %}
{% form_theme delete_form '::Form/field.php.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        #cadre {
            margin: 0 auto;
            padding: 10px;
            border: 1px solid;
            background: white;
        }
    </style>
{% endblock stylesheets %}

{% block header %}
    <div class="invisible" style="padding: 10px">
        <span>a</span>
    </div>
{% endblock %}

{% block aeplatform_body %}

    <div class="row col-lg-12 col-md-12 jumbotron">

        <div id="cadre" class="col-md-6 col-lg-6">
            <p>Identification de l'entrepreneur</p>
            <table class="table table-responsive">
                <tbody>
                    <tr>
                        <th>Nom</th>
                        <td>{{ entreprise.nomEntreprise }}</td>
                    </tr>
                    <tr>
                        <th>Numéro SIREN</th>
                        <td>{{ entreprise.siret }}</td>
                    </tr>
                    <tr>
                        <th>Adresse</th>
                        <td>{{ entreprise.adresseEntreprise }}<br>{{ entreprise.codePostalEntreprise }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="cadre" class="col-md-6 col-lg-6">
            <p>Client</p>
            <table class="table table-responsive">
                <tbody>
                    <tr>
                        <th>Nom</th>
                        <td>{{ entity.contractuel.nomContractuel }}</td>
                    </tr>
                    <tr>
                        <th>Adresse</th>
                        <td>{{ entity.contractuel.adresseContractuel }}<br>{{ entity.contractuel.codePostalContractuel }}</td>
                    </tr>
                    <tr>
                        <th>Forme juridique</th>
                        <td>{{ entity.contractuel.formeJuridiqueContractuel }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="cadre">
            <table class="table table-responsive">
                <tbody>
                    <tr>
                        <th>Numéro de facture</th>
                        <td>{{ entity.id }}</td>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <td>{{ entity.date|date('Y-m-d') }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="cadre">
            <table class="table table-responsive">
                <tbody>
                    <p>Produits</p>
                    {% for produits in factureProduit.produits %}
                        <tr>
                            <th>Quantité</th>
                            <td>{{ factureProduit.quantite }}</td>
                        </tr>

                        <tr>
                            <th>Designation</th>
                            <td>{{ entity.factureProduit.produits.reference }}</td>
                        </tr>
                        <tr>
                            <th>Code postal</th>
                            <td>{{ entity.factureProduit.produits.designation }}</td>
                        </tr>
                        <tr>
                            <th>Forme juridique</th>
                            <td>{{ entity.factureProduit.produits.prixUnitaireHT }}</td>
                        </tr>
                        <tr>
                            <th>Prix total HT</th>
                            <td>{{ entity.factureProduit.prixTotalHT }}</td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>

        <div id="cadre">
            <p><B>Total HT</B> : {{ entity.recetteTotaleHT }}<br>TVA non applicable, article 293B du CGI</p>
        </div>

        <ul class="record_actions list-inline list-unstyled text-center" style="margin-top: 30px">
            <li>
                <a class="btn btn-default" href="{{ path('factures') }}">
                    Retour à la liste
                </a>
            </li>
            <li>
                <a class="btn btn-default" href="{{ path('factures_edit', { 'id': entity.id }) }}">
                    Édition
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul>
    </div>
{% endblock %}

