{% extends '::layout_dashboard.php.twig' %}
{% form_theme edit_form '::Form/field.php.twig' %}
{% form_theme delete_form '::Form/field.php.twig' %}


{% block header %}
    <header class="intro-header" style="background-image: url({{asset('img/logo_fond_marron_grand.jpg')}})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Recettes</h1>
                        <hr class="small">
                        <!--span class="subheading">Have questions? I have answers (maybe).</span-->
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block aeplatform_body %}
    <div class="row col-lg-12 col-md-12 jumbotron">

        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        {{ form_end(edit_form) }}

        <ul class="record_actions list-inline list-unstyled text-center">
            <li>
                <a class="btn btn-default" href="{{ path('recettes') }}">
                    Back to the list
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul>
    </div>
{% endblock %}
